@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 20px 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto"sans-serif;
  color: #202020;
  background-color: #fbfbfb;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;

}